@page "/addrecipe"

<PageTitle>Add Recipe</PageTitle>

<form>
    <div class="form-group mb-2">
        <label for="exampleFormControlFile1">Image</label>
        <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputEmail1">Name</label>
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name">
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputPassword1">Integrates</label>
        <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Integrates" rows="7"/>
        
    </div>
    <div class="form-group mb-2">
        <label for="exampleInputPassword1">Instruction</label>
        <textarea type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter Instruction" rows="7"/>
    </div>
   

    

    <button type="submit" class=" btn btn-primary">Add Reciepe</button>
</form>

@code {
  
}
