@layout LoginLayout
@page "/login"
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime
@using RecipeApp.Modal
@using RecipeApp.Helper


<div class="">
    <h3>Login</h3>
    <p class="mt-2">Default User Information</p>
    <p class="">test@gmail.com</p>
    <p class="mb-4">1234</p>
    <div class="form-group col-4 ">
        <label for="username">Mail:</label>
        <input type="email" class="form-control" id="email" @bind="email" />
    </div>

    <div class="form-group col-4 mb-2">
        <label for="password">Password:</label>
        <input type="password" class="form-control" id="password" @bind="password" />
    </div>

    <button class="btn btn-primary" @onclick="LoginPage">Login</button>
    <a href="register">Register</a>
</div>


@code {
    private string email;
    private string password;

    private async void LoginPage()
    {
        User user = new User();
        UIHelper uIHelper = new UIHelper(JsRuntime);
        
        if (!string.IsNullOrEmpty(email) && !string.IsNullOrEmpty(password))
        {
            if (user.defaultUser().Email == email && user.defaultUser().Password == password)
                NavigationManager.NavigateTo("/");
            else
                await uIHelper.Alert("Login unsuccessful. Please check your email and password!");
        }
        else
        {
            await uIHelper.Alert("Please enter email and password");
        }
    }
   
}